.infos {
  background-color: var(--bg-color);
  border-radius: 0.25rem;
  opacity: 0;
  margin-bottom: 0.75rem;
  max-width: 300px;
  padding: 0.75rem 0.9rem;
  transition-property: opacity;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing);
}

.visible {
  opacity: 1;
}

.infos :is(p, ul) {
  margin: 0;
  padding: 0;
}

.infos a {
  color: var(--text-color);
  text-decoration: underline;
}

.infos a:hover {
  text-decoration: none;
}

.header {
  align-items: flex-end;
  display: flex;
  gap: 0.75rem;
}

.credits {
  font-size: 1.1rem;
  font-weight: 500;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.6rem;
  list-style-type: none;
}

.tags li:not(:last-child):after {
  content: '\00a0-\00a0';
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
}

.button > svg {
  fill: var(--text-color);
  height: 1.2rem;
  opacity: 0.65;
  width: 1.2rem;
}

.button:hover > svg {
  opacity: 1;
}

.button:focus-visible > svg {
  fill: var(--tint-color);
  opacity: 1;
}
